<!DOCTYPE html>
<html>
<head>
    <title><%= appname %></title>
    <meta charset="utf-8" />
    <!-- build:css styles/normalize.css -->
    <link rel="stylesheet" href="../bower_components/normalize.css/normalize.css"></link>
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <h1>Hello World!</h1>


    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script type="text/javascript" src="scripts/main.js"></script>
    <!-- endbuild -->

</body>
</html>